* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main {
  padding-left: 200px;
  padding-right: 200px;
}




/*** more in products ***/
.product_heading {
  margin-left: 138px;
  color: #002f34;
  font-size: 27px;
}
.view_more {
  margin-right: 101px;
  text-decoration: none;
  color: #2f67f6;
  font-weight: bold;
}
/* outsider */
.outsider {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
#top_btn {
  background-color: white;
  color: #002f34;
  padding: 10px 25px;
  border: 1px solid #002f34;
  border-radius: 50px;
  text-decoration: none;
  margin-left: 44vw;
  position: sticky;
  top: 145px;
}
#top_text {
  margin-left: 10px;
  font-weight: bold;
}
/* more_product_container */


.name {
  padding: 12px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name2 {
  padding-bottom: 20px;
}
.location {
  font-size: 14px;
  padding-bottom: 5px;
  color: gray;
}
.time {
  font-size: 12px;
  color: gray;
}
.heart {
  font-size: 20px;
}
